# Игнорировать все файлы с расширением .log
# Исключение: .log-файлы в корневой папке проекта
/**/*.log
!/*.log

# Игнорировать корневую папку bin
/bin/

# Игнорировать файлы, начинающиеся с tmp,
# в корневой папке dist и её подпапках
/dist/**/tmp*